:root { 
  --color-text: #777;
  --color-light: #BA8554;
  --color-dark: #A14F03;
  --main-shadow: 0 .4rem .4rem rgba(0, 0, 0, .25);  /* тень: 0X, 0Y, радиус размытия, цвет */
  --float-gutter: 6rem;  /* горизонтальный margin для float-сетки */
}

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  /* чтобы легче было считать rem -> font-size = 10px.
  Переведём в %, чтобы можно было увеличивать шрифт. */
  font-size: 62.5%;  /* (10px * 100% / 16px = 62.5%) */
}

body {
  padding: 5rem;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: .18rem;
  color: var(--color-text);

  background-color: #fff;
}

.container {
  position: relative;
  z-index: 0;

  background-color: #F7F7F7;
}

/* ========================= разметка float: ========================= */

.row {
  max-width: 114rem;  /* 1440px - 2 * 150px = 1140px */
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

/* "clearfix" для float: */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* 
  ^ - начало имени класса,
  $ - окончание имени класса,
  * - любое место имени класса
*/
[class^="column-"] {
  float: left;
}

[class^="column-"]:not(:last-child) {
  margin-right: var(--float-gutter);  /* 6rem; */
}

.column-1-of-2 {
  width: calc((100% - var(--float-gutter)) / 2);
}

.column-1-of-3 {
  width: calc((100% - 2 * var(--float-gutter)) / 3);
}

/* .column-2-of-3 {
  width: calc( 2 * ((100% - 2 * var(--float-gutter)) / 3) + var(--float-gutter));
} */

.column-1-of-4 {
  width: calc((100% - 3 * var(--float-gutter)) / 4);
}

/* .column-2-of-4 {
  width: calc( 2 * ((100% - 3 * var(--float-gutter)) / 4) + var(--float-gutter));
} */

/* .column-3-of-4 {
  width: calc( 3 * ((100% - 3 * var(--float-gutter)) / 4) + 2 * var(--float-gutter));
} */

/* ========================= блок header ========================= */

.header {
  position: relative;
  height: 75rem;

  /* background: url("")[image] top left[position] / 50px 50px[size] no-repeat[repeat] scroll[attachment] */
  background: linear-gradient(90deg, rgba(186, 133, 84, .7), rgba(1, 1, 1, .7)), url("../images/header-background.jpg") center center / cover no-repeat;

  /* обрезка снизу -> https://bennettfeely.com/clippy/) */
  clip-path: polygon(0 0, 100% 0, 100% 99%, 0 82%);
}

.header__logo-link {
  position: absolute;
  top: 5rem;
  left: 5rem;

  display: block;
  width: 20rem;

  /* стилизация alt: */
  color: #fff;
  text-decoration: none;
}

.header__logo-img {
  width: 5.6rem;
  height: 7rem;
}

.burger__toogle {
  display: none;
}

.burger__button {
  position: absolute;
  top: 5rem;
  right: 5rem;
  z-index: 2;

  width: 7rem;
  height: 7rem;
  border-radius: 50%;

  cursor: pointer;
  background: #fff;
}

.burger__icon, .burger__icon::before, .burger__icon::after {
  display: block;
  width: 3rem;
  height: .3rem;

  background: var(--color-text);
}

/* выравнивание центральной полоски по центру: */
.burger__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* выравнивание остальных полосок относительно центральной: */
.burger__icon::before, .burger__icon::after {
  content: "";
  position: absolute;
  left: 0;

  transition: all .2s;
}

.burger__icon::before {
  top: -.8rem;
}

.burger__icon::after {
  top: .8rem;
}

.burger__button:hover .burger__icon::before {
  top: -1rem;
}

.burger__button:hover .burger__icon::after {
  top: 1rem;
}

.burger__toogle:checked + .burger__button .burger__icon {
  background: transparent;
}

.burger__toogle:checked + .burger__button .burger__icon::before {
  top: 0;
  transform: rotate(45deg);
}

.burger__toogle:checked + .burger__button .burger__icon::after {
  top: 0;
  transform: rotate(135deg);
}

.burger__toogle:checked + .burger__button:hover .burger__icon::before {
  height: .35rem;
}

.burger__toogle:checked + .burger__button:hover .burger__icon::after {
  height: .35rem;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  height: 100%;

  width: 0;  /* появляется горизонтальная прокрутка из-за содержимого меню!!! */
  overflow-x: hidden;  /* убираем горизонтальную прокрутку!!! */
  opacity: 0;

  background: linear-gradient(to bottom right, var(--color-light), var(--color-dark));

  transition: all .3s ease-in-out;
}

.burger__toogle:checked ~ .menu {
  width: 100%;
  opacity: 1;
}

/* :has() не работает в mozilla firefox!!! */
/* .burger:has(.burger__toogle:checked) ~ .menu {
  width: 100%;
  opacity: 1;
} */

.menu__list {
  position: absolute;
  top: 44%;  /* (82% + ((99%-82%) / 3)) * 1/2 = 43.83% */
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;

  list-style: none;
}

.menu__item {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .5rem;

  text-align: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 5rem;
}

.menu__link {
  display: inline-block;
  padding: 1rem 2rem;

  color: #fff;
  text-decoration: none;

  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;

  transition: all .4s;
}

.menu__link:hover, .menu__link:active {
  background-position: 100%;

  color: var(--color-dark);

  transform: translateX(1rem);
}

.header__box {
  position: absolute;
  top: 46.8%;
  left: 50.2%;
  transform: translate(-50%, -50%);

  width: 100%;
  text-align: center;
}

.title-first {
  margin-bottom: 4.8rem;

  color: #fff;
}

.title-first__primary {
  display: block;
  margin-bottom: 1rem;

  font-weight: 800;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 6rem;
  letter-spacing: 1.2rem;

  /* animation: [name] [duration] [timing-function] [delay] */
  animation: left-to-right 1.7s ease 1s;
  backface-visibility: hidden;
}

.title-first__secondary {
  display: block;

  font-weight: 100;
  font-size: 3.7rem;
  line-height: 4.8rem;
  letter-spacing: .66rem;
  
  animation: right-to-left 1.7s ease 1s;
  backface-visibility: hidden;
}

.button {
  position: relative;

  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  border: none;

  font-weight: 500;
  font-size: 2rem;
  letter-spacing: .55rem;
  text-transform: uppercase;

  text-decoration: none;
  color: var(--color-text);

  background-color: #fff;

  cursor: pointer;  /* для тега <button> */

  transition: all .3s;
}

.button:hover {
  box-shadow: var(--main-shadow);
  transform: translateY(-.4rem);
}

.button:active {
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .1);
  transform: translateY(-.2rem);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: inline-block;
  /* чтобы размеры были как у кнопки: */
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background-color: #fff;

  transition: all .4s;
}

/* изменение псевдоэлемента при наведении: */
.button:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}

.button_animated {
  padding: 1.5rem 3.8rem;

  animation: button-to-up .5s ease-out .7s;
  animation-fill-mode: backwards;  /* чтобы кнопка возникала постепенно снизу */
  backface-visibility: hidden;
}

@keyframes button-to-up {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-to-right {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-to-left {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ========================= блок main ========================= */

/* ========================= section-about ========================= */

.section-about {
  padding-top: 8rem;
}

.title-second {
  margin-bottom: 8.5rem;

  font-size: 3.6rem;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  text-align: center;  

  /* --------------- создание градиента текста: --------------- */
  background: linear-gradient(90deg, var(--color-light), var(--color-dark));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* ------------------------------------------------------------ */

  transition: all .4s;
  backface-visibility: hidden;
}

.title-second:hover {
  text-shadow: 0 .4rem .4rem rgba(0, 0, 0, .1);

  /* почему в Safari пропадает цвет заголовка с градиентом ??? */
  /* в Chrome и в Firefox все ок! */
  transform: skew(15deg, 2deg) scale(1.1); 

  /* а так в Safari появляются очертания границ блока: */
  transform: skew(15deg, 1.5deg) scale(1.1); 
}

.title-third {
  margin-bottom: 1rem;

  font-size: 2rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
}

.paragraph-about {
  width: 91%;
  margin-bottom: 3.8rem;

  line-height: 138%;
}

.button-text {
  display: inline-block;
  padding: 1rem 1rem 1.4rem;
  border-bottom: .1rem solid var(--color-light);

  font-weight: 700;
  color: var(--color-light);
  text-decoration: none;
  
  transition: all .5s;
  backface-visibility: hidden;
}

.button-text:hover {
  color: #fff;
  background-color: var(--color-light);
  box-shadow: var(--main-shadow);

  transform: translateY(-.2rem);
}

.button-text:active {
  transform: translateY(0);
}

.composition {
  position: relative;
}

.composition__photo {
  position: absolute;
  width: 59%;

  border-radius: .5rem;
  box-shadow: var(--main-shadow);

  transition: all .2s;
}

.composition__photo_1 {
  top: -.5rem;
  left: .2rem;
}

.composition__photo_2 {
  top: 8.5rem;
  right: 0;
}

.composition__photo_3 {
  top: 16rem;
  left: 2.4rem;
}

.composition__photo:hover {
  outline: 1rem solid var(--color-light);
  outline-offset: 1rem;

  transform: scale(1.1);
  z-index: 2;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(.95);
}

/* ========================= section-adventure ========================= */

.section-adventure {
  padding: 27rem 0 22rem;

  background: linear-gradient(90deg, rgba(186, 133, 84, .7), rgba(0, 0, 0, .7)), url("../images/adventure-background.jpg") center center / cover no-repeat;
  
  clip-path: polygon(0% 6.5%, 100% 23.5%, 100% 99.5%, 0 84.5%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: circle(0);
  overflow: hidden;
} 

.adventure-card {
  padding: 2.4rem 2rem 4.1rem;

  text-align: center;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: var(--main-shadow);

  transition: all .2s;
}

.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.05);
}

/* иконочные шрифты: */
.adventure-card__icon {
  display: inline-block;
  margin-bottom: 25px;

  font-size: 6rem;

  background: linear-gradient(90deg, var(--color-light), var(--color-dark));
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
}

/* ========================= section-tour ========================= */

.section-tour {
  padding-top: 7.7rem;
  padding-bottom: 8.5rem;
}

.title-second_tour {
  margin-bottom: 8rem;
}

.card-tour {
  position: relative;
  height: 52rem;
  
  -webkit-perspective: 150rem;
  perspective: 150rem;  /* <- значение на глаз */
}

.card-tour__side {
  position: absolute;
  top: 0;
  left: 0;

  height: 52rem;
  width: 100%;

  border-radius: .3rem;
  overflow: hidden;  /* <- иначе не закруглится изображение */
  
  box-shadow: var(--main-shadow);

  transition: all 1s ease-out;
  backface-visibility: hidden;
}

.card-tour__image {
  height: 24rem;
  margin-bottom: 5rem;

  background: var(--color-light) center / cover no-repeat;
  background-blend-mode: hard-light;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.card-tour__image_1 {
  background-image: url("../images/card-1.jpg");
}

.card-tour__image_2 {
  background-image: url("../images/card-2.jpg");
}

.card-tour__image_3 {
  background-image: url("../images/card-3.jpg");
}

.card-tour__title {
  position: absolute;
  top: 18.8rem;
  right: 0;

  font-weight: 300;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #fff;
}

.card-tour__span {
  background: linear-gradient(90deg, var(--color-light), var(--color-dark));
}

.card-tour__span_1 {
  padding: 1rem 1.9rem 0.1rem;
}

.card-tour__span_2 {
  position: absolute;
  top: 3.3rem;
  right: 0;

  padding: 0.1rem 1.5rem 1rem;
}

.card-tour__list {
  margin: 0 auto;
  width: 75%;

  list-style-type: none;
}

.card-tour__item {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: .4rem;
  text-align: center;
}

.card-tour__item:not(:last-child) {
  margin-bottom: 2rem;
}

.card-tour__side_back {
  background: linear-gradient(157deg, var(--color-light), var(--color-dark));

  transform: rotateY(180deg);
}

.card-tour__backside-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-tour__text {
  margin-bottom: 8rem;

  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.card-tour__text_1 {
  font-weight: 300;
}

.card-tour__text_2 {
  font-weight: 500;
  font-size: 6rem;
}

.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}

.card-tour:hover .card-tour__side_back {
  transform: rotateY(0);
}

.tour__button {
  text-align: center;
}

/* ========================= section-feedback ========================= */

.section-feedback {
  position: relative;
  padding: 8.1rem 0;
}

.section-feedback::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background: linear-gradient(90deg, rgba(186, 133, 84, .6), rgba(0, 0, 0, .6));
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-second_white {
  margin-bottom: 9.5rem;
  color: #fff;
}

.feedback-card {
  width: 82%;
  margin: 0 auto;
  padding: 5rem 11rem 7rem;

  background: rgba(255, 255, 255, .75);
  box-shadow: var(--main-shadow);

  transform: skewX(336deg);
}

/* убираем наклон для всех потомков карточки: */
.feedback-card > * {
  transform: skewX(-336deg);
}

.feedback-card_figure {
  position: relative;

  width: 17rem;
  height: 17rem;
  margin-right: 5rem;
  border-radius: 50%;

  background: var(--color-light);
  
  float: left;

  /* закругление текста: */
  shape-outside: circle(50% at 50% 50%);  /* NB! старый валидатор выдает ошибку! */

  overflow: hidden;
}

.feedback-card_img {
  height: 100%;

  transform: scale(1.2);
  transition: all .6s;
}

.feedback-card:hover .feedback-card_img {
  transform: scale(1);
  filter: blur(.3rem) brightness(70%);
}

.feedback-card_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);

  opacity: 0;
  transition: all .6s;

  font-size: 2.4rem;
  text-align: center;
  color: #fff;
}

.feedback-card:hover .feedback-card_name {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.feedback__button {
  margin-top: 9.4rem;
  text-align: center;
}

/* ========================= section-booking ========================= */

.section-booking {
  padding: 10rem;
  background: linear-gradient(90deg, var(--color-light), var(--color-dark));
}

.booking {
  min-height: 50rem;
  border-radius: .5rem;

  /* генератор градиентов: https://cssgradient.io */
  background: linear-gradient(107deg, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .9) 55.5%, rgba(255, 255, 255, 0) 55.5%, rgba(255, 255, 255, 0) 100%), url("../images/bg-form.jpg") center center / cover no-repeat;

  box-shadow: var(--main-shadow);
}

.form {
  /* padding: 5rem 40rem 5.3rem 5.1rem; */
  padding: 5rem 0rem 5.3rem 5.1rem;
}

.title-second_form {
  margin-bottom: 3rem;
  text-align: left;
  letter-spacing: 1.1rem;
}

.title-second_form:hover {
  transform: skew(15deg, 1.5deg) scale(1.05); 
}

.form__group_name {
  margin-bottom: 2rem;
}

.form__group_email {
  margin-bottom: 2.5rem;
}

.form__group_radios {
  margin-bottom: 3.7rem;
}

.form__input {
  width: 35.5rem;
  padding: 1.9rem 2.2rem 1.5rem;
  border: none;
  border-radius: .3rem;
  border-bottom: .2rem solid transparent;
  box-shadow: var(--main-shadow);

  font-size: 1.6rem;
  letter-spacing: .2rem;
}

.form__label {
  display: block;
  margin-top: 1.1rem;
  margin-left: 1.5rem;

  transition: all .3s;
}

.form__input:focus {
  outline: none;
  border-bottom: .2rem solid #66D763;

  box-shadow: var(--main-shadow);
}

.form__input:focus:invalid {
  border-bottom: .2rem solid #D76363;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  
  transform: translateY(-2rem);
}

.form__group-radio {
  display: inline-block;
  margin-right: 1.8rem;
}

.form__label-radio {
  position: relative;

  padding-left: 4.1rem;

  cursor: pointer;
}

.form__button-radio {
  position: absolute;
  top: -.4rem;
  left: 0;

  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: .5rem solid var(--color-light);
}

.form__button-radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: var(--color-light);

  opacity: 0;

  transition: all .2s;
}

.form__input-radio:checked + .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.button_color {
  padding: 1.5rem;

  color: #fff;
  background-color: var(--color-light);
}

.button_color:hover::after {
  background-color: var(--color-light);
}

/* ========================= блок footer ========================= */

.footer {
  padding: 7.9rem;
  background: #333;
}

.footer__logo-link {
  display: block;
  margin: 0 auto 4.7rem;
  width: 12rem;
}

.footer__logo-img {
  width: inherit;
}

.footer__list {
  text-align: center;
  list-style-type: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 3.8rem;
}

.footer__link {
  display: inline-block;

  color: #fff;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .28rem;

  transition: all .3s;
}

.footer__link:hover {
  color: var(--color-dark);
  text-shadow: var(--main-shadow);
  transform: rotate(5deg) scale(1.2);
}

/* ========================= адаптив ========================= */

/* -------------------- tablet-landscape -------------------- */
@media only screen and (max-width: 1240px) {

  :root { 
    --float-gutter: 2rem;
  }

  html {
    font-size: 56.25%;  /* 9px */
  }

  .row {
    max-width: 90.1rem;
  }

  .title-first {
    margin-bottom: 3.5rem;
  }

  .title-first__primary {
    font-size: 4rem;
  }

  .title-first__secondary {
    font-size: 3.5rem;
  }

  .title-second {
    font-size: 3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title-third {
    font-size: 1.8rem;
  }

  .section-adventure {
    padding: 24rem 0 18rem;
  }

  .card-tour__item {
    font-size: 1.5rem;
  }

  .button {
    padding: 1.4rem 1.5rem;
    font-size: 1.8rem;
  }

  .feedback-card {
    padding: 4rem;
  }

  .title-second_form {
    width: 100%;
    letter-spacing: .8rem;
  }

  .form__input {
    width: 50%;
  }

  .form__group-radio{
    display: block;
  }

  .form__group-radio:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form__group_name {
    margin-bottom: 1rem;
  }
  
  .form__group_email {
    margin-bottom: 1.5rem;
  }
  
  .form__group_radios {
    margin-bottom: 3rem;
  }

  .footer__item:not(:last-child) {
    margin-right: 1.6rem;
  }

  .footer__link {
    letter-spacing: .2rem;
  }
  
}

/* -------------------- tablet-portrait -------------------- */
@media only screen and (max-width: 900px), (hover:none) {

  .card-tour {
    height: auto;
  }

  .card-tour__side {
    position: relative;
    height: auto;
  }

  .card-tour__side_front {
    padding-bottom: 13rem;
  }

  .card-tour:hover .card-tour__side_front {
    transform: rotateY(0);
  }

  .card-tour__side_back {
    padding: 12rem 5rem 5rem;
    margin-top: -8rem;

    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 100%);
    transform: rotateY(0);
  }

  .card-tour__backside-container {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);

    text-align: center;
  }
  
  .card-tour__image {
    margin-bottom: 7rem;
    height: 30rem;
  }
}

@media only screen and (max-width: 900px) {

  :root { 
    --float-gutter: 0;
  }

  html {
    font-size: 50%;  /* 8px */
  }
  
  .row {
    max-width: 60.1rem;
  }

  .row.row:not(:last-child) {
    margin-bottom: 3rem;
  }

  [class^="column-"] {
    width: 100%;
    margin-bottom: 4rem;
  }

  .title-first__primary {
    margin-bottom: 0;

    font-size: 3.6rem;
    letter-spacing: .5rem;
  }

  .title-first__secondary {
    font-size: 3.2rem;
    letter-spacing: .2rem;
  }

  .button {
    padding: 2rem 5rem;
  }

  .section-about {
    margin-bottom: 40rem;
  }

  .title-second {
    margin-bottom: 5rem;

    letter-spacing: 0.6rem;
  }

  .section-adventure {
    padding: 20rem 0 15rem;
    clip-path: polygon(0% 2%, 100% 10%, 100% 98%, 0 90%);
  }

  .card-tour__title {
    top: 25rem;
    font-size: 3.8rem;
  }

  .card-tour__span_2 {
    top: 4.4rem;
  }

  .card-tour__item  {
    font-size: 2rem;
  }

  .feedback-card {
    padding: 3rem;

    transform: skewX(350deg);
  }
  
  .feedback-card > * {
    transform: skewX(-350deg);
  }

  .feedback-card_figure {
    float: none;
    margin: 0 auto 3rem;
  }

  .feedback-card__text {
    text-align: center;
  }

  .section-booking {
    padding: 4rem;
  }

  .booking {
    background: linear-gradient(107deg, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .8) 100%), url("../images/bg-form.jpg") center center / cover no-repeat;
  }
  
  .form {
    width: 100%;
    padding: 3rem;
  }

  .title-second_form {
    text-align: center;
  }

  .form__input {
    width: 100%;
  }

  .form__group_button {
    text-align: center;
  }

  .footer__item {
    margin: 0;
    padding: 2rem;
  }

}

/* -------------------- phone -------------------- */
@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;  /* 4.8px */
  }
}

/* -------------------- big-screen -------------------- */
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;  /* 12px */
  }
}

/* -------------------- фоновые изображения: -------------------- */
@media only screen and (min-resolution: 192dpi) and (min-width: 670px), only screen and (min-width: 1340px) {
  .header {
    background: linear-gradient(90deg, rgba(186, 133, 84, .7), rgba(1, 1, 1, .7)), url("../images/header-background-big.jpg") center center / cover no-repeat;
  }
}
